form {
	.wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		width: min(100%, 35rem);
		box-shadow: 0 0.5em 0.5em hsla(0, 0%, 15%, 0.25);
		margin-right: auto;
		margin-left: auto;
	}

	input {
		width: 100%;
		padding: 0.75em 1em;
		border: none;
		border-radius: 0.5em;

		&::placeholder {
			color: var(--clr-neutral-200);
		}
	}

	button {
		position: absolute;
		right: 0;
		width: 3rem;
		height: 100%;
		border: none;
		border-radius: 0 0.5em 0.5em 0;
		background-color: var(--clr-neutral-300);
		cursor: pointer;

		&:hover {
			background-color: var(--clr-neutral-200);
		}
	}

	.validate {
		justify-content: start;
		visibility: hidden;
		padding-left: 1rem;
		box-shadow: revert;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		color: red;
	}

	.validate.error {
		visibility: revert;
	}
}
