/* 	Custom Properties
   	================================================== */

:root {
	/* Colors */

	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-200: hsla(0, 0%, 59%, 1);
	--clr-neutral-300: hsla(0, 0%, 17%, 1);

	/* Spacing */
	--spacer: 1em;

	/* Font sizes */
	--step--1: clamp(0.83rem, 0.83rem + 0.02vw, 0.84rem);
	--step-0: clamp(1rem, 0.96rem + 0.19vw, 1.13rem);
	--step-1: clamp(1.2rem, 1.09rem + 0.45vw, 1.5rem);
	--step-2: clamp(1.44rem, 1.24rem + 0.84vw, 2rem);

	/* Font-families */
	--ff-body: "Rubik", sans-serif;
}
